<div class="dropdown">
<img 
    src="https://i.pravatar.cc/150?img=3" 
    alt="Avatar" 
    class="avatar-img dropdown-toggle"
    id="perfilDropdown"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  />

  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilDropdown">
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-person-circle me-2"></i> View Profile
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-bar-chart-line me-2"></i> See Progress
      </a>
    </li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-gear me-2"></i> Settings
      </a>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <a class="dropdown-item" href="#">
        <i class="bi bi-box-arrow-right me-2 text-danger"></i> Log Out
      </a>
    </li>
  </ul>
</div>
