.avatar-img {
    border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    max-width: 40px;
    max-height: 35px;
    border: 2px solid #0d6efd;
}   